In [1]:
import pandas as pd

In [29]:
def data_clean(my_df):
    tickers = list(data.iloc[54:58, 0])
    quantity = list(data.loc[54:58, "Unnamed: 2"])
    return tickers, quantity

In [30]:
data_portfolio = pd.read_csv("2022-06-27-AccountStatement.csv")

data_portfolio

,Account Statement for 454699288TDA (seberts12) since 5/28/22 through 6/26/22,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Cash Balance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,DATE,TIME,TYPE,REF #,DESCRIPTION,Misc Fees,Commissions & Fees,AMOUNT,BALANCE,NaN,NaN,NaN,NaN,NaN,NaN
3,5/28/2022,22:00:00,BAL,NaN,Cash balance at the start of business day 29.0...,NaN,NaN,NaN,"1,958.42",NaN,NaN,NaN,NaN,NaN,NaN
4,5/29/2022,22:00:00,BAL,NaN,Cash balance at the start of business day 30.0...,NaN,NaN,NaN,"1,958.42",NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,Stock Buying Power,"$17,071.76",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,Option Buying Power,"$6,630.24",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,Equity Commissions & Fees YTD,$0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,Futures Commissions & Fees YTD,$0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,Total Commissions & Fees YTD,$0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
tickers, quantity = data_clean(data_portfolio)

In [32]:
display(tickers)
display(quantity)

['QQQ', 'CANO', 'PYPL', 'CCORF']

['20', '107', '5', '100', nan]